<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopWPF.Properties.SettingsWPF" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DesktopWPF.Properties.settingsWPF" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopWPF.Properties.SettingsWPF>
            <setting name="ScreenResolution" serializeAs="String">
                <value>Small</value>
            </setting>
        </DesktopWPF.Properties.SettingsWPF>
        <DesktopWPF.Properties.settingsWPF>
            <setting name="ScreenResolution" serializeAs="String">
                <value />
            </setting>
        </DesktopWPF.Properties.settingsWPF>
    </userSettings>
</configuration>